<title>Movies</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bsmin.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

