html {
  height: 99%;
  width: 99%;
  animation:fadeIn 1s ease-out 1;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/joker.gif");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: yellow;
}

header {
  color: yellow;
}

footer {
  color: yellow;
}

.navbar {
  background-image: url("../images/black.jpg");
  background-size: 100%;
  animation:fadeIn2 1s ease-out 1;
  opacity: 0.8;
}

div.test {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.test1 {
  display: inline-block;
  margin: auto;
  /*border: 5px solid red;*/
  height: 100%;
  width: 400px;
  padding: auto;
  text-align: center;
  white-space: nowrap;
}

img.testimg {
  height: 500px;
  width: 350px;
}

a.test {
  width: 350px;
  text-align: center;
  color: yellow;
}

.select-box {
  color: #000000;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0.2; }
  40% { opacity: 0.4; }
  60% { opacity: 0.6; }
  80% { opacity: 0.8; }
  100% { opacity: 1; }
}

@keyframes fadeIn2 {
  0% { opacity: 0.1; }
  20% { opacity: 0.2; }
  40% { opacity: 0.4; }
  60% { opacity: 0.6; }
  80% { opacity: 0.7; }
  100% { opacity: 0.8; }
}

@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}

button.navbar-toggle {
  float: right;
}
